@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap');
:root{
    --primary-color: #90B3BF;
    --dark-color: #5E9AAB;
    --secondary-color: #c6e2f1;
    --background-color: #f4f4f4;
    --text-color: #333;
    --font-family: 'Heebo', sans-serif;
    --accent-color:#6D50FF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: var(--font-family);

}

.container{
    display: flex;
    height: auto;
    width: 100vw;
    background-color: var(--background-color);
}
